{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
<div class='container'>
<h2> About Jonathan </h2>
    <p> I was born on April 24, 2000 in South San Francisco, California. </p>
    <p> I am currently an 18 year old senior at South San Francisco High School. </p>
    <p> I've been the trumpet section leader in Symphonic and Jazz Band for all four years, and it is my first year in ASB. </p>
    <img src = 'static/images/southcity.jpg' alt = 'South San Francisco High School' width = '247' height = '98'>
<h2> My Hobbies </h2>
    <ul>
        <li> Eating </li>
        <li> Sleeping </li>
        <li> Playing video games </li>
        <li> Playing the trumpet </li>
        <li> Hanging out with friends </li>
    </ul>
<h2> My Favorite Things </h2>
    <ul>
        <li> Food: Pizza </li>
        <li> Video Game: Fortnite </li>
        <li> Sport: Basketball </li>
        <li> Dessert: Ice Cream </li>
        <li> Car: BMW M3</li>
    </ul>
    <img src = 'static/images/bmwm3.jpg' alt = 'Sports car' width = '200' height = '94'>
</div>
{% endblock %}

