{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block content %}

<h2> Register </h2>
    First Name: <input type = 'text' name = 'firstname'>
    <br>
    Last Name: <input type = 'text' name = 'lastname'>

    <br><br>

    Email: <input type = 'email' name = 'email'>
    <br>
    Password: <input type = 'password' name = 'password'>

    <br><br>

    Grade:
        <select>
            <option value = 'freshman'> Freshman </option>
            <option value = 'sophomore'> Sophomore </option>
            <option value = 'junior'> Junior </option>
            <option value = 'senior'> Senior </option>
        </select>

    <br><br>

    <input type = 'radio' name = 'gender' value = 'male'> Male <br>
    <input type = 'radio' name = 'gender' value = 'female'> Female <br>
    <input type = 'radio' name = 'gender' value = 'other'> Other <br>

    <br>

    <input type = 'checkbox' name = 'receive_email' value = 'yes'> I would like to receive emails.

    <br><br>

    <input type = 'submit' value = 'Submit'> <input type = 'reset' value = 'Reset'>

</form>

{% endblock %}