{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block content %}

<div class = 'container'>

<h2> Register </h2>

<form action="/action_page.php">

    <div class="form-group">
        <label for="firstname">First Name:</label>
        <input type="text" class="form-control" id="firstname">
    </div>

    <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input type="text" class="form-control" id="lastname">
    </div>

    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
    </div>

    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
    </div>

    Grade:
        <select>
            <option value = 'freshman'> Freshman </option>
            <option value = 'sophomore'> Sophomore </option>
            <option value = 'junior'> Junior </option>
            <option value = 'senior'> Senior </option>
        </select>

    <br><br>

    <input type = 'radio' name = 'gender' value = 'male'> Male <br>
    <input type = 'radio' name = 'gender' value = 'female'> Female <br>
    <input type = 'radio' name = 'gender' value = 'other'> Other <br>

    <br>

    <input type = 'checkbox' name = 'receive_email' value = 'yes'> I would like to receive emails.

    <br><br>

    <button type="submit" class="btn btn-default">Submit</button> <input type = 'reset' value = 'Reset'>

</form>

</div>

{% endblock %}